In [1]:
import numpy as np
import os
import datetime
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
path = os.getcwd()

In [3]:
df = pd.read_csv(path+'\\data\\listings.csv')

In [4]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2265,Zen-East in the Heart of Austin (monthly rental),2466,Paddy,NaN,78702,30.27750,-97.71398,Entire home/apt,225,30,24,2019-03-16,0.18,3,0
1,5245,"Eco friendly, Colorful, Clean, Cozy monthly share",2466,Paddy,NaN,78702,30.27577,-97.71379,Private room,100,30,9,2018-03-14,0.07,3,0
2,5456,"Walk to 6th, Rainey St and Convention Ctr",8028,Sylvia,NaN,78702,30.26112,-97.73448,Entire home/apt,95,2,532,2020-03-19,3.90,1,359
3,5769,NW Austin Room,8186,Elizabeth,NaN,78729,30.45697,-97.78422,Private room,40,1,257,2019-11-03,2.09,1,18
4,6413,Gem of a Studio near Downtown,13879,Todd,NaN,78704,30.24829,-97.73726,Entire home/apt,99,30,112,2020-03-08,0.88,1,13

In [5]:
df['room_type'] = df['room_type'].astype('category')

In [6]:
df.dtypes

id                                   int64
name                                object
host_id                              int64
host_name                           object
neighbourhood_group                float64
neighbourhood                        int64
latitude                           float64
longitude                          float64
room_type                         category
price                                int64
minimum_nights                       int64
number_of_reviews                    int64
last_review                         object
reviews_per_month                  float64
calculated_host_listings_count       int64
availability_365                     int64
dtype: object

In [7]:
map_df = df[['latitude', 'longitude', 'room_type', 'price']]

In [8]:
map_df.head()

   latitude  longitude        room_type  price
0  30.27750  -97.71398  Entire home/apt    225
1  30.27577  -97.71379     Private room    100
2  30.26112  -97.73448  Entire home/apt     95
3  30.45697  -97.78422     Private room     40
4  30.24829  -97.73726  Entire home/apt     99

In [9]:
import folium
from folium import plugins
import json

In [10]:
rooms = list(map_df.room_type.unique())
colors = ['blue', 'red', 'yellow', 'green']

map_colors = dict(zip(rooms, colors))
print(map_colors)

{'Entire home/apt': 'blue', 'Private room': 'red', 'Hotel room': 'yellow', 'Shared room': 'green'}

In [11]:
with open(path+'\\data\\atxNeighborhoods.geojson') as f:
    atxArea = json.load(f)

In [12]:
lat, lon = np.mean(map_df['latitude']), np.mean(map_df['longitude'])

In [31]:
austinMap = folium.Map(location=[lat, lon],
                      tiles='Stamen Toner',
                      zoom_start = 11)

In [32]:
folium.GeoJson(atxArea).add_to(austinMap)

In [35]:
for i in map_df.room_type.unique():
    temp = map_df[map_df['room_type'] == i]
    for j, row in temp.iterrows():
        folium.CircleMarker((row.latitude, row.longitude),
                           radius=2,
                           weight=2,
                           color = map_colors[i],
                           fill_color = map_colors[i],
                           fill_opacity = 0.2).add_to(austinMap)

In [36]:
austinMap.save('atxPointMap_zoom11.html')